html, body {
    margin:0;
    padding:0;
    overflow:hidden;
    background:#B3B3B3;
}
svg {
     position:fixed;
     top:0;
     left:0;
     height:100%;
     width:100%;
 }

.whiteKey{
    stroke:#332E2E;
    fill:#F9F9F9;
}

.redTop{
    fill:#C15050;
}

.blackFill{
    fill:#332E2E;
}

.blackKey{
    fill:#524F4F;
}
